<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      {{> navItem name='Home' path='' active=homeActive }}
      {{> navItem name='Rules' path='rules' active=rulesActive }}
      {{> navItem name='John Conway' path='john-conway' active=johnConwayActive }}
      {{> navItem name='Snippet' path='snippet' active=snippetActive }}
      {{> navItem name='Resources' path='resources' active=resourcesActive }}
    </ul>
  </nav>
  <h1>Code Retreat 2017</h1>
</header>