<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rules">Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/john-conway">John Conway</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/snippet">Snippet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources">Resources</a>
      </li>
    </ul>
  </nav>
  <h1 class="text-muted">Code Retreat 2017</h1>
</header>