<div class="row">
  <div class="col">
    <h2>{{title}}</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    {{> slider}}
  </div>
</div>

<div class="row">
  <div class="col-8">
    <h2>Who</h2>
  </div>
  <div class="col">

  </div>
</div>

<div class="row">
  <div class="col">

  </div>
  <div class="col-8">
    <h2>What</h2>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <h2>When</h2>
  </div>
  <div class="col">

  </div>
</div>

<div class="row">
  <div class="col">

  </div>
  <div class="col-8">
    <h2>Where</h2>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <h2>Why</h2>
  </div>
  <div class="col">

  </div>
</div>