<h2>Rules</h2>

<div class="row rules">
  <div class="col-md-4 col-sm-12">
    <img src="/images/rules.png">
    <p>Photo by Markus Decke via
      <a href="https://softwarecrafters.slack.com/">Software Crafters</a>
    </p>
  </div>
  <div class="col">
    <h2>Scroll Me</h2>
    <p>
      <a href="https://www.youtube.com/watch?v=aZcSCT34H84" target="_blank">
        And just drag me until I can get my scrollifaction
      </a>
    </p>
    <div class="scroller">

      <h2>Game of Life Rules</h2>
      <ul>
        <li>Your neighbors determine your fate.</li>
        <li>Will you live, die, or be born?</li>
        <li>Neighbors are surrounding blocks within a 1 block radius.</li>
        <li>Each cell has 8 neighbors.</li>
        <li>The board is infinite in dimensions; forget such a thing exists.</li>
      </ul>


      <h3>Live</h3>
      <ul>
        <li>You must have 2 or 3 neighbors</li>
      </ul>

      <h3>Die</h3>
      <ul>
        <li>You have 1 neighbor and die of
          <s>dysentery</s> lonelyness otherwise known as underpopulation.</li>
        <li>You have more than 3 neighbors and you die of overpopulation.</li>
      </ul>

      <h3>Born</h3>
      <ul>
        <li>If there are three neighbors new life is born.</li>
      </ul>

    </div>
  </div>
</div>