// http://www.colourlovers.com/palette/1718713/Monokai
$white: #EEE;
$grey: #272822;
$pink: #F92672;
$blue: #66D9EF;
$blueDark: #00B7FF;
$blueDarker: #007bff;
$green: #A6E22E;
$orange: #FD971F;

/** Others I looked at
*   http://cinderwick.ca/files/themes/vimbrant/preview_terminal.png
*   https://orig00.deviantart.net/af22/f/2015/224/f/d/my_i3wm_manjaro_monokai_august_screenshot_by_anshulc95-d95ceu4.png
*   
*/